.payButton {
    font-size: 30;
    top: 92%;
    margin: 15;
    height: 5%;
    left:50%;
    width: 15%;
    position: fixed;
  }

  .backButton {
    font-size: 30;
    top: 92%;
    margin: 15;
    height: 5%;
    left:30%;
    width: 15%;
    position: fixed;
  }

  .totalAmount {
    font-size: 20;
    margin: 15;
    height: 5%;
    width: 35%;
    position: relative;
    left: 80%;
  }